<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <%= stylesheet_link_tag "application" %>
    <title>Conductor Example App</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
